
<main class="main-wrap">
    <div class="content-wrapper">
      {% assign images = {{include.pages}} %}
      {% for image in images %}
        <div class="container">
            <img src="{{ site.baseurl }}{{ image._path }}" class="page_image">
            <div>
                <div class="description-wrapper">
                  <p>Title: {{ image._title }}<br>
                  Creator: {{ image.creator }}<br>
                  Date: {{ image._date }}</p>
                  <a href="{{ site.baseurl }}{{ image.url }}"><button class="description_btn">Detailed description</button></a>
                </div>
            </div>
        </div>
    
        {% endfor %}
    </div>
</main>